<mat-toolbar color="primary">
  <mat-toolbar-row>
      <a mat-button [routerLink]="'/dashboard'"> <h1>Library Management</h1></a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/member'"> Member </a>
      <a mat-button [routerLink]="'/employee'"> Employess </a>
      <a mat-button [routerLink]="'/guest'"> Guest </a>
      <a mat-button [routerLink]="'/dependent'"> Dependent </a>
      <a mat-button [routerLink]="'/visitor'"> Visiting Details </a>
      <a mat-button [routerLink]="'/issuedBook'"> Book Loaned </a>
      <a mat-button [routerLink]="'/inventory'"> Inventory </a>

    </div>
  </mat-toolbar-row>
  </mat-toolbar>

  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.staffid}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>
    <ng-container matColumnDef="Join Date">
      <th mat-header-cell *matHeaderCellDef>Join Date</th>
      <td mat-cell *matCellDef="let element">{{element.joindate | date:'MM/dd/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="End Date">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let element">{{element.endate | date:'MM/dd/yyyy'}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  