<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Library Management</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/staff'"> Staff </a>
      <a mat-button [routerLink]="'/member'"> Member </a>
      <a mat-button [routerLink]="'/employee'"> Employess </a>
      <a mat-button [routerLink]="'/guest'"> Guest </a>
      <a mat-button [routerLink]="'/dependent'"> Dependent </a>
      <a mat-button [routerLink]="'/visitor'"> Visiting Details </a>
      <a mat-button [routerLink]="'/issuedBook'"> Book Loaned </a>
      <a mat-button [routerLink]="'/inventory'"> Inventory </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>